@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
